<div class="container">
	<!-- <nav class="nav navbar">
		<ul>
			<li ng-repeat = "customer in customers">
				{{customer[$index].name}}
			</li>
		</ul>
	</nav>
	<button class ="btn btn-info">Refresh</button> -->
	<h1>Customer Infomation</h1>
	<div class= "addcustomer-btn">
		<button id = "addbtn" ng-disable = "$scope.addLock" class = "btn btn-large btn-info" ng-click = "addCustomer()">添加客户信息<i class="fa fa-play-circle"></i></button>
	</div>
	
	<table class="table table-sthiped" id = "datatable">
	<!-- <table id = "datatable"> -->
		<thead>
			<tr>
				<th style="display: none">ID</th>
				<th>姓名</th>
				<th><i class="fa fa-mobile"></i>电话</th>
				<th><i class="fa fa-weixin"></i>微信</th>
				<th><i class="fa fa-calendar"></i>拍摄时间</th>
				<th><i class="fa fa-check-square-o"></i>客户需求</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "customer in customers track by $index">
				<td ng-bind = "customers[$index].cid" style="display: none"></td>
				<td ng-dblclick="editCustomer(customers[$index])">
					<span ng-bind = "customers[$index].name" ng-hide="customers[$index].editting"></span>
					<input ng-model = "customers[$index].name" ng-show = "customers[$index].editting" ng-focus="focusHandler(customers[$index])">
				</td>
				<td ng-dblclick="editCustomer(customers[$index])">
					<span ng-bind = "customers[$index].phone" ng-hide="customers[$index].editting"></span>
					<input ng-model = "customers[$index].phone" ng-show = "customers[$index].editting" ng-focus="focusHandler(customers[$index])">
				</td>
				<td ng-dblclick="editCustomer(customers[$index])">
					<span ng-bind = "customers[$index].weichat" ng-hide="customers[$index].editting"></span>
					<input ng-model = "customers[$index].weichat" ng-show = "customers[$index].editting" ng-focus="focusHandler(customers[$index])">
				</td>
				<td ng-dblclick="editCustomer(customers[$index])">
					<span ng-bind="customers[$index].appointment | formatDate" ng-hide="customers[$index].editting">
						<!-- {{customers[$index].appointment | formatDate}} -->
					</span>
					<input ng-model="customers[$index].appointment" type="date" ng-show="customers[$index].editting" ng-focus="focusHandler(customers[$index])">					
				</td>
				<td ng-dblclick="editCustomer(customers[$index])">
					<span ng-bind = "customers[$index].note" ng-hide="customers[$index].editting"></span>
					<input ng-model = "customers[$index].note" ng-show = "customers[$index].editting" ng-focus="focusHandler(customers[$index])">
				</td>
				<td>
					<!-- <button ng-if="!customers[$index].editting" class="btn btn-warning" ng-click = "deleteCustomer(customers[$index], $index)"><i class="fa fa-times-circle"></i></button> -->

					<button ng-disabled ="!customers[$index].appointment" ng-if="!customers[$index].editting" class="btn btn-primary" ng-click = "syncCalendar(customers[$index], $index)">Sync to Calendar</button>
					<span class="icon-delete">
						<i class="fa fa-times-circle" ng-if="!customers[$index].editting" class="btn btn-warning" ng-click = "deleteCustomer(customers[$index], $index)"></i>
					</span>
					
					<button ng-if="customers[$index].editting" class="btn btn-success" ng-click = "saveCustomer(customers[$index], $index)">Save</button>
					<button ng-if="customers[$index].editting" class="btn" ng-click = "cancelEdit(customers[$index])">Cancel</button>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- Date: <input type="text" id="datepicker"> -->
	<button ng-click="auth()">Auth</button>
	<button ng-click="getCalendarList()">Get Calendar</button>
	<!-- <div>Below Calendar</div> -->

</div>